<a href="https://colab.research.google.com/github/Average-Me/weather-temperature-forecast-finland/blob/main/Weather%20data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import numpy as np
import pandas as pd
import kagglehub

# Download latest version
path = kagglehub.dataset_download("muthuj7/weather-dataset")

print("Path to dataset files:", path)

Using Colab cache for faster access to the 'weather-dataset' dataset.
Path to dataset files: /kaggle/input/weather-dataset

In [17]:
df = pd.read_csv(path + "/weatherHistory.csv")
df.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [18]:
df_trim = df.drop(['Summary', "Precip Type", "Daily Summary","Apparent Temperature (C)", 'Humidity', 'Wind Speed (km/h)','Wind Bearing (degrees)', 'Visibility (km)','Loud Cover','Pressure (millibars)'  ], axis=1)
df_trim

                      Formatted Date  Temperature (C)
0      2006-04-01 00:00:00.000 +0200         9.472222
1      2006-04-01 01:00:00.000 +0200         9.355556
2      2006-04-01 02:00:00.000 +0200         9.377778
3      2006-04-01 03:00:00.000 +0200         8.288889
4      2006-04-01 04:00:00.000 +0200         8.755556
...                              ...              ...
96448  2016-09-09 19:00:00.000 +0200        26.016667
96449  2016-09-09 20:00:00.000 +0200        24.583333
96450  2016-09-09 21:00:00.000 +0200        22.038889
96451  2016-09-09 22:00:00.000 +0200        21.522222
96452  2016-09-09 23:00:00.000 +0200        20.438889

[96453 rows x 2 columns]

In [28]:
#преобразование даты в отдельные колонки utc = true переводит время в один стандарт
df_trim['Formatted Date'] = pd.to_datetime(df_trim['Formatted Date'], utc=True)
df_trim['Formatted Date'] = pd.to_datetime(df_trim['Formatted Date'])
df_trim['year'] = df_trim['Formatted Date'].dt.year
df_trim['month'] = df_trim['Formatted Date'].dt.month
df_trim['day'] = df_trim['Formatted Date'].dt.day
df_trim['hour'] = df_trim['Formatted Date'].dt.hour
df_trim['day_of_week'] = df_trim['Formatted Date'].dt.dayofweek

# новый порядок колонок
df_trim = df_trim.drop(['Formatted Date'],axis=1)
#cols = ['Formatted Date', 'year', 'month', 'day', 'hour', 'day_of_week', 'Temperature (C)']
df = df['Formatted Date', 'year', 'month', 'day', 'hour', 'day_of_week', 'Temperature (C)']
df_trim

KeyError: 'Formatted Date'